@keyframes animateIn {
  from {
    transform: scale(0.6, 0.6);
    opacity: 0.6;
  }
  to {
    transform: scale(1,1);
    opacity: 1;
  }
}
@keyframes main-animation {
 from {
    transform: scale(1);
    opacity: 0.7;
  }
  to {
    transform: scale(1.1);
    opacity: 1;
  }
}

.logo-container{
width: 110px;
height: 100%;
padding-top: 10px;

/* overflow: hidden; */
}
.logo{
  width: 100%;
/* transform: translate(30px ,-10px); */
}

.anchor{
position: absolute;
top: 120px;
}

.main-header-animation{
  /* animation-duration: 0.75s; */
  animation-duration: 1.6s;
  /* animation-delay: 0.5s; */
  animation-name: main-animation;
  animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
  animation-fill-mode: forwards;
}


.globe-container{
  transform: translate(-180px, -230px);
}

.landing-navbar{
  width: 100%;
    padding: 30px 300px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 75px;
    z-index: 15;
}
  .animateIn {
    animation-name: animateIn;
    animation: forwards;
    transition: all 2s ease;
    animation-duration: 2.4s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: forwards;
  }
  .left-float>*{
    z-index: 16;
  }
  .play-btn{
    height: 50px;
    width: 110px;
}
.login-btn{
  padding: 0px;
}
  
  
  .landing-container {
    filter: blur(3%);
    /* display: flex;
      flex-direction: column; */
    width: 100%;
    /* height: 250vh; */
    height: 100%;
    background-color: #2e020847;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2329032c'/%3E%3Cstop offset='1' stop-color='%2329032c' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23270c2b'/%3E%3Cstop offset='1' stop-color='%23270c2b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230c0d29'/%3E%3Cstop offset='1' stop-color='%230c0d29' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232E0208'/%3E%3Cstop offset='1' stop-color='%232E0208' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2303032A'/%3E%3Cstop offset='1' stop-color='%2303032A' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23181925'/%3E%3Cstop offset='1' stop-color='%23181925' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  
  .landing-page-1 {
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-float {
    z-index: 10;
    width: fit-content;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .left-float>h1 {
    font-size: 6rem;
    height: fit-content;
    width: fit-content;

  }
  .login-btn{
    height: 40px;
    width: 80px;
white-space: nowrap;  }
 
  .globe-wrapper{
    width: 100%;
    /* position: absolute ; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-cards-container {
    padding: 0 300px;

 

   
  }
  .landing-page-2 {
    display: flex;
    flex-direction: column;
    /* background-color:white; */
    height: 100%;
    width: 100%;
    margin: 140px 0
  
  }
 .mobile-only{
  display: none !important;
 }
 .divider-padding{
  padding: 0 140px;
 }

  @media (max-width: 1200px) {
    .landing-page-2{
        margin: 0px;
    }
    .mobile-only{
      display: block !important;
     }
     

    .ui.grid{
      flex-wrap: nowrap !important;
    }
    .landing-cards-container {
    padding: 20px;
    margin: 0px;
    
    }

    .globe-wrapper{
      width: 100%;
      /* position: absolute ; */
      display: block;
      transform: translateY(60px);
      z-index: 1;
    }
    .scene-container>*{
     
      width: 850px !important;
      height: 850px !important;

    }
    .scene-container{
      width: 100% !important;
      height: 100% !important;
transform: translateY(-50px);
      overflow: hidden;
    }
    canvas{
      margin: 1px !important;
    }
    
    .anchor{
      position: absolute;
      top: 20px;
    
      }
      .landing-navbar{
        
          padding: 5px 5px;
      }
  
  
    }
    @media(min-width:1600px){
      .landing-cards-container{
        padding: 0 440px;
      }
    }
  