@keyframes animateIn {
  from {
    transform: scale(0.9, 0.9);
    opacity: 0.6;
  }
  to {
    transform: scale(1,1);
    opacity: 1;
  }
}

.animateIn .animateInLong {
  animation-name: animateIn;
  animation: forwards;
  transition: all var(--speed) ease;
  animation-name: animateIn;
  animation-duration: 800ms;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: forwards;
}

.animateInLong{
  animation-duration: 1200ms;

}

.home-container {
  /* display: flex;
    flex-direction: column; */
  width: 100%;
  height: 100%;
  background: url("../../assets/images/darkBlurVertical.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  /* padding: 0 80px; */
}

.home-page-1 {
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.left-float {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.globe-container{
  width: 100%;
display: flex;
justify-content: center;
align-content: center;


}
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 40px 80px;

}

.page-2 {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  z-index: 4;
    padding: 80px 80px;
    /* background-color: #2A2550; */

  /* overflow: hidden; */
}

.stat-container{
  display: flex;
  justify-content: center;
  
}

@media (max-width: 768px) {
  .home-page-1 {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }

  .globe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: -ms-page;
    overflow: hidden;
    transform: translateY(120px);
    opacity: 0.6;
    width: 100%;
    /* filter: blur(2px); */
  }
  .page-2 {
    width: 100%;
    grid-template-columns: 1fr;
    /* padding: 10px 10px; */
  }
  .cards-container{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    width:100%;
  }
.card{
  width: 100%;
}

.stat-container{
  justify-content: center;
  flex-direction: column;
  
}
.home-container{
  padding: 0;
}
.page-2{
  padding: 0;
}
}
