@keyframes animateIn {
  from {
    transform: scale(0.9, 0.9);
    opacity: 0.6;
  }
  to {
    transform: scale(1,1);
    opacity: 1;
  }
}

.animateIn .animateInLong {
  animation-name: animateIn;
  animation: forwards;
  transition: all var(--speed) ease;
  animation-name: animateIn;
  animation-duration: 800ms;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: forwards;
}

.animateInLong{
  animation-duration: 1200ms;

}

.home-container {
  /* display: flex;
    flex-direction: column; */
  width: 100%;
  height: 100%;
  /* background: url("../../assets/images/darkBlurVertical.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  */
  /* padding: 0 80px; */

/* background-color: #06233B;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232d033c'/%3E%3Cstop offset='1' stop-color='%232d033c' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231f0642'/%3E%3Cstop offset='1' stop-color='%231f0642' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23440316'/%3E%3Cstop offset='1' stop-color='%23440316' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2306233B'/%3E%3Cstop offset='1' stop-color='%2306233B' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233D0100'/%3E%3Cstop offset='1' stop-color='%233D0100' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234A0630'/%3E%3Cstop offset='1' stop-color='%234A0630' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover; */

/* background-color: #220206;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2325072c'/%3E%3Cstop offset='1' stop-color='%2325072c' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2338082f'/%3E%3Cstop offset='1' stop-color='%2338082f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2317113f'/%3E%3Cstop offset='1' stop-color='%2317113f' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23220206'/%3E%3Cstop offset='1' stop-color='%23220206' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230F1934'/%3E%3Cstop offset='1' stop-color='%230F1934' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232F134A'/%3E%3Cstop offset='1' stop-color='%232F134A' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover; */

background-color: #2E0208;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2329032c'/%3E%3Cstop offset='1' stop-color='%2329032c' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23270c2b'/%3E%3Cstop offset='1' stop-color='%23270c2b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230c0d29'/%3E%3Cstop offset='1' stop-color='%230c0d29' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232E0208'/%3E%3Cstop offset='1' stop-color='%232E0208' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2303032A'/%3E%3Cstop offset='1' stop-color='%2303032A' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23181925'/%3E%3Cstop offset='1' stop-color='%23181925' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;


}

.home-page-1 {
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.left-float {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.globe-container{
  width: 100%;
display: flex;
justify-content: center;
align-content: center;


}
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 40px 80px;

}

.page-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 4;
    padding: 80px 80px;
    /* background-color: #2A2550; */

  /* overflow: hidden; */
}
.cards-container>a{
  width: 100%;
}
.stat-container{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  
}
.footer-container{
  padding: 0 80px
}

.banner-wrapper{
  padding: 40px 100px;
}
@media (max-width: 1200px) {
  .home-page-1 {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }

  .globe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: -ms-page;
    overflow: hidden;
    transform: translateY(120px);
    opacity: 0.6;
    width: 100%;
    /* filter: blur(2px); */
  }
  .page-2 {
    width: 100%;
    grid-template-columns: 1fr;
    /* padding: 10px 10px; */
  }
  .cards-container{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width:100%;
    gap: 0px;
  }
.card{
  width: 100%;
}

.stat-container{
  justify-content: center;
  flex-direction: column;
  
}
.home-container{
  padding: 0;
}
.page-2{
  padding: 0;
  overflow: hidden;

}

.banner-wrapper, .footer-container{
  padding: 1px 1px;
}

.globe-wrapper-homepage{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(50px)
  }


}
