.aispy-dash{
    height: 120px;
    width: 180px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 30px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.481);
    z-index: 20;
    padding: 15px;
    border-radius: 18px ;
    border: 1px solid var(--yellow)
}
.predict-btn{
right: 10px;
 z-index: 9;
 width: 100%;
 border: 2px solid var(--yellow);
 padding-top: 10px;
 background-color: transparent;
}
.aispy-object{
    padding-top: 8px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}