.navbar-container{
    width: 100%;
    position: absolute;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    z-index: 15;
}
.logout-btn{
    margin: 0 10px
}