.navbar-container{
    width: 100%;
    position: absolute;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    z-index: 15;
}
.logout-btn{
    margin: 0 10px;
    background: transparent;
    /* height: 40px; */
}
.nav-wrap{
    cursor: pointer;
}
.nav-wrap>*:hover{
   text-decoration: underline;
}

@media(max-width:1200px){
    .nav-wrap{
        height: 100%;
        width: 100%;
        padding-right: 5px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 15;
    }

    
}