
@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0.5;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);

  }
}
.animateIn{
  animation-name: fadeIn;
  animation-duration: 600ms;
 
}
.landing-card-container {

    width: 100%;
    height: 180px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 40px 0;
}

.landing-text-wrapper {
  padding: 60px;
}

.landing-card-title{
  /* color: var(--yellow); */
  color: var(--yellow);
}


.landing-card-text{
  color: white;
/* color: var(--orange); */
}

.landing-card-image {
  padding: 15px 20px;
  margin: 20px 10px;

  max-width: 300px;
  max-height: 220px;
  /* position: absolute; */


  

}
@media (max-width: 1200px) {
  .landing-card-container {
    width: 100%;
    height: 260px;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 80px;
    text-align: center;

    backdrop-filter: blur(1px);
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.0);
  }
  .landing-card-image {
    padding: 0;
    position:relative;
    right: 0px;
    top: 0px

  }

.landing-text-wrapper{
  padding : 20px;
}  

}
