.small-map-container{
    position: absolute;
    bottom: 20px ;
    right: 10px;
    z-index: 5;
    height: 200px;
    width: 280px;
    background-color: #333;
border-radius: 25px;
   opacity: 0.70;
   transition: 0.5s;
   overflow: hidden;
   display: flex;
   flex-direction: column;


}
.guess-button{
    height: 50px;
    background-color: rgba(29, 10, 82, 0.472);
    color: var(--yellow);
    font-size: 1.3rem;
}
.small-map-container:hover{
    height: 460px;
    width: 500px;
    opacity: 1;
}


