.small-map-container, .small-map-container-expand{
    position: absolute;
    bottom: 20px ;
    right: 10px;
    z-index: 5;
    height: 200px;
    width: 280px;
    background-color: #333;
border-radius: 25px;
   opacity: 0.70;
   transition: 0.5s;
   overflow: hidden;
   display: flex;
   flex-direction: column;


}
.guess-button{
    height: 50px;
    background-color:var(--yellow);
   color: rgba(58, 6, 10, 0.702);
    font-size: 1.3rem;
    font-weight: 700;
}
.small-map-container:hover{
    height: 560px;
    width: 660px;
    opacity: 1;
}
.arrow-svg{
    display: none;
 position: absolute;
  z-index: 30;
  width: 30px;
  height: 30px;
  transform: translateY(50px);

}
.marker-img{
width: 23px;
 height:35px; 
/* transform: translate(-10px, -32px); */
position: 'absolute';
  transform: translate(-50%, -90%)
}
.hide{
    display: none;
}


@media(max-width:1200px){
    .small-map-container{
opacity: 0;
        width: 100%;
        height: 1px;
        top: 10px;
        position: relative;


    }
    .small-map-container-expand{
        
        width: 100%;
        height: 100%;
        z-index: 20;
        opacity: 0.97;
        border-radius: 1px;
        right: 1px;
        top: 1px;

    }
    .arrow-svg{
        transform: translateY(95px);
        display: block;
    }
    .small-map-container:hover{
        height: 100%;
        width: 100%;
        opacity: 1;
    }
        
    
    
}