.small-map-container, .small-map-container-expand{
    position: absolute;
    bottom: 20px ;
    right: 10px;
    z-index: 5;
    height: 200px;
    width: 280px;
    background-color: #333;
border-radius: 25px;
   opacity: 0.70;
   transition: 0.5s;
   overflow: hidden;
   display: flex;
   flex-direction: column;


}
.guess-button{
    height: 50px;
    background-color:var(--yellow);
   color: rgba(29, 10, 82, 0.472);
    font-size: 1.3rem;
}
.small-map-container:hover{
    height: 560px;
    width: 660px;
    opacity: 1;
}
.arrow-svg{
    display: none;
 position: absolute;
  z-index: 30;
  /* transform: translate(175px, 0px); */
  width: 30px;
  height: 30px;
}


@media(max-width:1200px){
    .small-map-container{
        width: 102%;
        height: 30px;
        top: 1px;
        position: relative;
        /* transform: translateX(10px); */
    }
    .small-map-container-expand{
        width: 100%;
        height: 100%;
        z-index: 20;
        opacity: 0.92;
        border-radius: 1px;
        bottom: 0px ;
        right: 1px;
        top: 1px;

    }
    .arrow-svg{
        display: block;
    }
    .small-map-container:hover{
        height: 100%;
        width: 100%;
        opacity: 1;
    }
        
    
    
}