
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "~spinners-react/lib/SpinnerCircular.css";

html{
  scroll-behavior: smooth;
  /* background-color: #001E6C ; */
  /* z-index: 20; */

}
.text-blue{
  color: #035397;
}
.text-orange{
  color: #E8630A;
}
.text-yellow{
  color: #FCD900;
  /* color: var(--yellow) */
}
.text-white{
  color: #fff;
}
:root {
  --font: 'Josefin Sans', sans-serif;
    --fontOrigin: 1rem;     /* 16px */
    --fontSmall: 0.625em;   /* 10px */
    --fontMedium: 0.875em;  /* 14px */
    --fontNormal: 1em;      /* 16px */
    --fontLarge:  1.375em;  /* 22px */
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.65s;
    --blue: #035397;
    --orange: #E8630A;
    --yellow: #f1ce53;
  }
  #white{
    color: white;
  }

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font) !important;

}
body {
  background-color: #2E0208;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2329032c'/%3E%3Cstop offset='1' stop-color='%2329032c' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23270c2b'/%3E%3Cstop offset='1' stop-color='%23270c2b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230c0d29'/%3E%3Cstop offset='1' stop-color='%230c0d29' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232E0208'/%3E%3Cstop offset='1' stop-color='%232E0208' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2303032A'/%3E%3Cstop offset='1' stop-color='%2303032A' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23181925'/%3E%3Cstop offset='1' stop-color='%23181925' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

  font-family: 'Sansita', sans-serif;  
  font-size: 1rem;
  line-height: 0;
  letter-spacing: 0.005rem;
  -webkit-font-smoothing: subpixel-antialiased;

}

